body {
  padding: 1em;
  font-family: Consolas, monaco, monospace;
}

main {
  display: flex;
  flex-direction: row;
}

section {
  flex: 1;
}

.code {
  display: inline-block;
  width: 300px;
  margin-top: 1em;
  font-size: 12px;
  white-space: pre-wrap;
}

.icon {
  width: 32px;
  height: 32px;
  margin-right: 0.3em;
  vertical-align: text-bottom;
}

.playground-link {
  display: block;
}
