body {
  padding: 1em;
}

body,
select {
  font-family: Helvetica, Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: row;
}

section {
  flex: 1;
  padding-right: 1em;
}

section + section {
  padding-left: 1em;
}

header {
  display: flex;
  justify-content: space-between;
}

.code {
  display: inline-block;
  margin-top: 1em;
  font-size: 12px;
  white-space: pre-wrap;
  font-family: Consolas, monaco, monospace;
}

.icon {
  width: 32px;
  height: 32px;
  margin-right: 0.3em;
  vertical-align: text-bottom;
}

#examples {
  font-size: 1.5em;
  width: 14em;
}
